# Reject packages published less than 7 days ago (supply chain protection)
minimum-release-age=604800

# Do not run lifecycle scripts (postinstall, preinstall) from dependencies
# WARNING: some packages need scripts (e.g. sharp, esbuild). If pnpm install
# fails after this change, add the package to the exception list below:
# public-hoist-pattern[]=...
ignore-scripts=true
